<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*Added bootstrp file here*@
    @*adding environment tag helper to load the minified and non-minified files based on environment*@
    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true" />

    </environment>
    <link href="~/CSS/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                <img src="~/Images/image2.jpg" width="30" height="30" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="index" asp-controller="Home" >List</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="create" asp-controller="Home">Create </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div>@RenderBody()</div>

        @*If the custom script file is required by all the views then we could place it in the Layout page as shown below.
        <script src="~/JS/CustomScript.js"></script>*@

        @*//Case1  Making the layout section manadatory mean at this moment we should add the @section Scripts { on particular view*@
        @*@RenderSection("Scripts", required: true)*@

        @*In the layout page, call RenderSection() method at the location where you want the section content to be rendered.*@
        @*Making the layout section optional*@
        @*Case2*@ @*//used this one sncl project also*@
        @RenderSection("Scripts", required: false)
    </div>
    @*Case3*@
    @*@if (IsSectionDefined("Scripts"))
        {
        @RenderSection("Scripts", required: false)
        }*@

</body>
</html>
