@model ManagmentApplication.ViewModel.HomeDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee Details";
}
<html>
<body>
    <div>Name:@Model.employeeDetails.Name</div>
    <div>Email:@Model.employeeDetails.Email</div>
    <div>DepartMent:@Model.employeeDetails.Department</div>
</body>
</html>