
<html>
<head>
    <title></title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>

    <div>
        Name : ViewBag.EmployeeModel.Name
    </div>
    <div>
        Email : @ViewBag.EmployeeModel.Email
    </div>
    <div>
        Department : @ViewBag.EmployeeModel.Department
    </div>
</body>
</html>
